<nav class="navbar bg-dark">
    <div class="navbar-brand text-white">
        <img src="../../../../../assets/img/logo-java.png" width="30" height="30" class="d-inline-block align-top" alt="">
        PruebaJAva - UdeM
    </div>
    <div class="form-inline my-2 my-lg-0">
        <a class="navbar-brand text-white" [routerLink]="['/personas']">
            <i class="uil uil-user-square"></i> &nbsp; Personas
        </a>
        <span class="text-white">|</span> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand text-white" [routerLink]="['/']">
            <i class="uil uil-estate"></i> &nbsp; Home
        </a>
    </div>
</nav>

<div class="pb-3"></div>