<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight"> <b>Home</b> </div>
              <div class="p-2 bd-highlight" style="font-size: 18px;">
              </div>
              <div class="p-2 bd-highlight">
              </div>
            </div>
        </div>
        <div class="card-body">
            <p>
                Dirijase a la sección de personas desde el enlace en la parte superior derecha.
            </p>
        </div>
    </div>
        <!-- <div class="card-header">
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight"> <b>Enlaces a repositorios de la prueba</b> </div>
              <div class="p-2 bd-highlight" style="font-size: 18px;">
              </div>
              <div class="p-2 bd-highlight">
              </div>
            </div>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Prueba técnica</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Backend</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">Frontend</a>
                </li>
                <li>
                    <a href="http://" target="_blank" rel="noopener noreferrer">SQL database MySQL</a>
                </li>
            </ul>
        </div>
    </div> -->
</div>